<app-dashboard></app-dashboard>
<div class="container">

    <div class="row ">
      <div class="col s12">
            <div class="col s6 input-fiel card">
                <blockquote>Form cadastro colaborador:</blockquote>
                <hr>
                <input id="first_name" placeholder="nome" type="text" class="validate" >
                <input id="first_name" placeholder="setor" type="text" class="validate" >
                <input id="first_name" placeholder="foto" type="text" class="validate" >
                <button style="margin-bottom: 5px; background-color: #2962FF;" class="btn">Cadastrar Colaborador</button>
            </div>
    
            
        </div>


        

    </div>
</div>