<div class="container">

    <div class="row">
        <div class="col s12">
            <div class="input-field col s6 card">

                <div class="input-field">
                    <i class="material-icons prefix">local_atm</i>
                    <input id="icon_prefix" type="number" class="validate">
                    <label for="icon_prefix">Valor</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">favorite_border</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Descrição</label>
                </div>
               
                <div class="input-field">
                    <i class="material-icons prefix">card_membership</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Email</label>
                </div>


                <div class="input-field">
                    <i class="material-icons prefix">perm_identity</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Nome</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">perm_identity</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Sobrenome</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">confirmation_number
                    </i>
                    <label for="icon_prefix">CPF</label>
                </div>

                <div class="input-field">
                   
                    <input id="icon_prefix" type="number" class="validate">
                    <label for="icon_prefix">Número</label>
                </div>
             
                <div class="input-field">
                    <button class="btn waves-effect waves-light black" type="submit" name="action">Gerar Qr
                        <i class="material-icons right">send</i>
                    </button>

                </div>

            </div>







            <div class="col s6">oi b</div>
        </div>

    </div>
</div>