<div class="container">
    <div class="row">
        <div class="col s12 card">
            <div class="row">
                <form class="col s12" [formGroup]="formValores">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">payment</i>
                            <input id="icon_prefix" type="text" class="validate" formControlName="valor_cartao">
                            <label for="icon_prefix">Cartão</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">local_atm</i>
                            <input id="icon_telephone" type="text" class="validate" formControlName="valor_dinheiro">
                            <label for="icon_telephone">Dinheiro</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">swap_calls</i>
                            <input id="icon_prefix" type="text" class="validate" formControlName="valor_pix">
                            <label for="icon_prefix">Pix</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">tag_faces</i>
                            <input id="icon_telephone" type="text" class="validate" formControlName="valor_pic_pay">
                            <label for="icon_telephone">Pic-pay</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">date_range</i>
                            <input id="icon_prefix" type="date" class="validate" formControlName="data_valor">
                            <label for="icon_prefix">Data</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">group</i>
                            <input id="icon_telephone" type="text" class="validate" formControlName="qtd_pessoas">
                            <label for="icon_telephone">Pessoas</label>
                        </div>
                    </div>
                    <button class="accent-4 btn waves-effect waves-light blue" type="submit" name="action" (click)="salvarValores()">Salvar
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table>
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Cartão</th>
                        <th>Dinheiro</th>
                        <th>Pix</th>
                        <th>Pic-Pay</th>
                        <th>Total</th>
                        <th>Pessoas</th>
                        <th>Valor Individual</th>

                    </tr>
                </thead>

                <tbody>
                    <tr
                        *ngFor=" let valor of valores | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
                        <td>{{valor.data_valor | date:"dd/MM/yy"}}</td>
                        <td>{{valor.valor_cartao}}</td>
                        <td>{{valor.valor_dinheiro}}</td>
                        <td>{{valor.valor_pix}}</td>
                        <td>{{valor.valor_pic_pay}}</td>
                        <td>{{valor.total}}</td>
                        <td>{{valor.qtd_pessoas}}</td>
                        <td>{{valor.valor_individual  | currency : 'BRL'}}</td>
                    </tr>

                </tbody>
                <div style="float: right;">
                    <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>
                </div>
            </table>
        </div>
    </div>
</div>