<app-dashboard></app-dashboard>


<div class="container">
    <div class="row">
        <div class="col s12 card" style="margin-top: 15px;">
            <div class="row">
                <form class="col s12" [formGroup]="formValores">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">payment</i>
                            <input id="icon_prefix" type="text" class="validate" formControlName="valor_cartao">
                            <!--  <label for="icon_prefix">Cartão</label> -->
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">local_atm</i>
                            <input id="icon_telephone" type="text" class="validate" formControlName="valor_dinheiro">
                            <!--  <label for="icon_telephone">Dinheiro</label> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">swap_calls</i>
                            <input id="icon_prefix" type="text" class="validate" formControlName="valor_pix">
                            <!--   <label for="icon_prefix">Pix</label> -->
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">tag_faces</i>
                            <input id="icon_telephone" type="text" class="validate" formControlName="valor_pic_pay">
                            <!--   <label for="icon_telephone">Pic-pay</label> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">date_range</i>
                            <input id="icon_prefix" type="date" formControlName="data_valor">
                            <!--      <label for="icon_prefix">Data</label> -->
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">group</i>
                            <input id="icon_telephone" type="text" class="validate" formControlName="qtd_pessoas">
                            <!--   <label for="icon_telephone">Pessoas</label> -->
                        </div>
                    </div>
                    <div>
                        <button *ngIf="botaoValorSalvar" class="accent-4 btn waves-effect waves-light blue"
                            type="submit" name="action" (click)="salvarValores()">Salvar
                            <i class="material-icons right">send</i>
                        </button>


                        {{''}}
                        {{''}}
                        <button *ngIf="botaoValorAtrualizar" (click)="atualizarValor(valores)"
                            class="accent-4 btn waves-effect  grey darken-4" type="submit" name="action">Atualizar
                            <i class="material-icons right">create</i>
                        </button>
                        {{''}}
                        {{''}}
                        <button *ngIf="botaoValorAtrualizar" (click)=" limparForm()"
                            class="accent-4 btn waves-effect  grey darken-4" type="submit" name="action">Limpar
                            <i class="material-icons right">clear</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <span class="card-title center">Cartão</span>
                <p class="flow-text center"  >{{cartao }}</p>
            </div>

        </div>
        <div class="col s12 m6">
            <div class="card">
                <span class="card-title center">Dinheiro</span>
                <p class="flow-text center">{{dinheiro}}</p>
            </div>

        </div>
        <div class="col s12 m6">
            <div class="card">
                <span class="card-title center">Pix</span>
                <p class="flow-text center">{{pix}}</p>
            </div>

        </div>
        <div class="col s12 m6">
            <div class="card">
                <span class="card-title center">PicPay</span>
                <p class="flow-text center">{{picPay}}</p>
            </div>

        </div>
        <div class="col s12 m6">
            <div class="card">
                <span class="card-title center">Vales</span>
                <p class="flow-text center">{{vales}}</p>
            </div>

        </div>
        <div class="col s12 m6">
            <div class="card">
                <span class="card-title center">Total</span>
                <p class="flow-text center red-text"> {{total | currency : 'BRL'}}</p>
            </div>

        </div>
      
      </div>

    <div class="row">
        <div class="col s12 m6">
            <table class="table responsive-table">
                <thead>
                    <tr>
                        <th scope="col">Dia</th>
                        <th scope="col">Cartão</th>
                        <th scope="col">Dinheiro</th>
                        <th scope="col">Pix</th>
                        <th scope="col">Pic-Pay</th>
                        <th scope="col"> Total</th>
                        <th scope="col">Pessoas</th>
                        <th scope="col">Valor Individual</th>
                        <th scope="col">Alterar</th>
                        <th scope="col">Apagar</th>

                    </tr>
                </thead>

                <tbody>
                    <tr
                        *ngFor="let valor of valores | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index ">
                        <td class="text-center">{{valor.data_valor | date:"dd/MM/yy"}}</td>
                        <td class="text-center">{{valor.valor_cartao}}</td>
                        <td class="text-center">{{valor.valor_dinheiro}}</td>
                        <td class="text-center">{{valor.valor_pix}}</td>
                        <td class="text-center">{{valor.valor_pic_pay}}</td>
                        <td class="text-center">{{valor.total | currency : 'BRL'}}</td>
                        <td class="text-center"> {{valor.qtd_pessoas}}</td>
                        <td class="text-center">{{valor.valor_individual | currency : 'BRL'}}</td>
                        <td class="text-center"><a type="submit" (click)="editarValor(valor)"><i
                                    class="material-icons text-center">create</i></a></td>
                        <td class="text-center"><a (click)="onDelete(valor)"><i
                                    class="material-icons text-center">delete_forever</i></a></td>
                    </tr>

                </tbody>
                <div style="float: right;">
                    <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>
                </div>
            </table>


        </div>
    </div>
    <app-equipe></app-equipe>


    
    



    <ng-template #deleteModel style="border: 1px solid tomato;">
        <div class="modal-body text-center">
            <p>Do you want to confirm?</p>
            <button type="button" (click)="deletarValor(valores['id_valor'])" class="btn btn-default">Yes</button>
            {{''}}
            {{''}}

            <button type="button" class="btn btn-primary">No</button>
        </div>

    </ng-template>