<div class="container card" style=" margin:0 auto; margin-top: 25px; ">

  <section>


    <div class="row" style="margin:0 auto; ">

      <div class="col s12" style="margin: 0 auto;">
        <form [formGroup]="meuFormGroup">

          <div class="col s12 m6" style="background: #2962ff; margin: 0 auto;">

            <div class="card-panel">
              <label for="first_name">Email</label>
              <input [(ngModel)]="usuario.email" placeholder="Email" id="first_name" type="email" class="validate" formControlName="email">
            <!--   <span *ngIf="meuFormGroup.controls.email.errors">
                Campo obrigatório
             </span> -->
              <label for="first_name">Senha</label>

              <input [(ngModel)]="usuario.senha" placeholder="Senha" id="first_name" type="password" class="validate" formControlName="senha">

             <!--  <span *ngIf="meuFormGroup.controls.senha.errors">
                Campo de senha obrigatório !!
             </span> -->

              <a (click)="fazerLogin()" class="waves-effect waves-light btn-small blue lighten-1" >Login</a>
            </div>

          </div>

          <!--   <div class="col s6" style=" margin-left: 50px; background-color:#2962ff ">

          <div class="card-panel" style="margin-top:150px;">


            <label for="first_name">Email</label>

            <input [(ngModel)]="usuario.email" placeholder="Placeholder" id="first_name" type="text" class="validate">

            <label for="first_name">Senha</label>
            <input [(ngModel)]="usuario.senha" placeholder="Placeholder" id="first_name" type="password"
              class="validate">

            <a (click)="cadastrar()" class="waves-effect waves-light btn-small blue lighten-1">cadastar</a>
          </div>

          </div> -->
        </form>

      </div>


    </div>
  </section>
</div>