<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
 

 
</head>
<body>
  
   <!-- <nav>
    <div class="nav-wrapper  blue accent-3">
      <a class="brand-logo"><i class=" large material-icons right">cloud</i></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLinkActive="active" routerLink="/Tips"><i class="material-icons">search</i></a></li>
        <li><a routerLinkActive="active" routerLink="/valores"><i class="material-icons">credit_card</i></a></li>
        <li><a routerLinkActive="active" [routerLink]="['/colaborador']"><i class="material-icons">group_add</i></a></li>
        <li><a routerLinkActive="active" routerLink="/grafico"><i class="material-icons">assessment</i></a></li>
      </ul>
      
      <ul class="sidenav">
        <li><a routerLinkActive="active" routerLink="/Tips"><i class="material-icons">search</i></a></li>
        <li><a routerLinkActive="active" routerLink="/valores"><i class="material-icons">credit_card</i></a></li>
        <li><a routerLinkActive="active" [routerLink]="['/colaborador']"><i class="material-icons">group_add</i></a></li>
        <li><a routerLinkActive="active" routerLink="/grafico"><i class="material-icons">assessment</i></a></li>
      </ul>
    </div>
  
  </nav>  -->

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLinkActive="active" routerLink="/Tips"><i class="material-icons">search</i></a></li>
        <li><a routerLinkActive="active" routerLink="/valores"><i class="material-icons">credit_card</i></a></li>
        <li><a routerLinkActive="active" [routerLink]="['/colaborador']"><i class="material-icons">group_add</i></a></li>
        <li><a routerLinkActive="active" routerLink="/grafico"><i class="material-icons">assessment</i></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLinkActive="active" routerLink="/Tips"><i class="material-icons">search</i></a></li>
    <li><a routerLinkActive="active" routerLink="/valores"><i class="material-icons">credit_card</i></a></li>
    <li><a routerLinkActive="active" [routerLink]="['/colaborador']"><i class="material-icons">group_add</i></a></li>
    <li><a routerLinkActive="active" routerLink="/grafico"><i class="material-icons">assessment</i></a></li>
  </ul>
  
  

  <script type="text/javascript" src="js/materialize.min.js"></script>

</body>


</html>

<!--  <app-form-colaborador></app-form-colaborador>   -->
<!-- <router-outlet></router-outlet>
 -->