<div class="row card" style="margin-top: 5px;">
  <form [formGroup]="formEquipe">
    <div class="col s3">
      <span class="card-title center">Dias</span>
      <select class="form-select" aria-label="Default select example" style="margin-top:4px;"
        formControlName="id_valor">
        <option selected>Escolha o dia</option>
        <option *ngFor="let valores of valor" [value]="valores.id_valor">{{valores.data_valor | date:'EEEE, d MMMM' : ''
          : 'pt-BR'}}</option>

      </select>
    </div>

    <div class=" col s3">
      <span class="card-title center">Pessoas</span>
      <select class="form-select form-control" aria-label="Default select example" formControlName="id_colaborador">
        <option *ngFor="let colaboradores of colaborador" [value]="colaboradores.id_colaborador" id="id_colaborador">

          {{colaboradores.nome}}

        </option>
      </select>
    </div>

    <div class=" col s3">
      <span class="card-title center">Vale</span>
      <input type="number" formControlName="pessoa_vale">

    </div>

    <div class="col s3">
      <button class="accent-4 btn waves-effect waves-light blue" type="submit" name="action" style="margin-top: 25%;"
        (click)="insereColaboradorNaEquipe()">
        ADD
        <i class="material-icons right">send</i>
      </button>

    </div>
  </form>
</div>



<mat-card>
<div class="mat-elevation-z8">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let equipes"> {{equipes.nome}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let equipes"> {{equipes.data_valor | date}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef> Valor do dia </th>
      <td mat-cell *matCellDef="let equipes"> {{equipes.valor_do_dia | currency : 'BRL'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Individual">
      <th mat-header-cell *matHeaderCellDef> Valor Individual </th>
      <td mat-cell *matCellDef="let equipes"> {{equipes.valor_individual | currency : 'BRL'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    aria-label="Select page">
   </mat-paginator>
</div>
</mat-card>
<!-- <div class="mdc-data-table">
    <div class="mdc-data-table__table-container">
      <table class="mdc-data-table__table" aria-label="Dessert calories">
        <thead>
          <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Dessert</th>
            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Carbs (g)</th>
            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Protein (g)</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Comments</th>
          </tr>
        </thead>
        <tbody class="mdc-data-table__content">
          <tr class="mdc-data-table__row">
            <th class="mdc-data-table__cell" scope="row">Frozen yogurt</th>
            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">24</td>
            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">4.0</td>
            <td class="mdc-data-table__cell">Super tasty</td>
          </tr>
          <tr class="mdc-data-table__row">
            <th class="mdc-data-table__cell" scope="row">Ice cream sandwich</th>
            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">37</td>
            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">4.33333333333</td>
            <td class="mdc-data-table__cell">I like ice cream more</td>
          </tr>
          <tr class="mdc-data-table__row">
            <th class="mdc-data-table__cell" scope="row">Eclair</th>
            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">24</td>
            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">6.0</td>
            <td class="mdc-data-table__cell">New filing flavor</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


 -->