.mat-form-field{

  width:100%;
}

.formfilter{
  width: 50%;
 
  padding: 25px;
}
.mat-label{
  border: 1px solid tomato;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
   
  }
  
  .example-full-width {
    width: 100%;
   
  }

  table {
    width: 100%;
  }
  